#startScreenContainer {
  display: flex;
  color: #fff;
}
#startScreenContainer #startScreenElements {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: text-flicker-in-glow 4s linear both;
}
#startScreenContainer #startScreenElements button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5vh;
}

#gameContainer {
  margin: auto;
  height: 100vh;
  width: 80vw;
}
#gameContainer #spaceShip {
  position: absolute;
  left: -110%;
  bottom: -110%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 70px;
  background-image: url("../img/spaceShip.png");
  background-size: contain;
  background-position-x: 50%;
  background-repeat: no-repeat;
  transition: 1s linear;
}
#gameContainer #spaceShip #spaceShipFire {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
  height: 20px;
  width: 10px;
  background-image: url("../img/flame.png");
  background-position: 50% 100%;
  background-size: 200%;
}

#gameInfo {
  display: flex;
  justify-content: center;
  line-height: 195vh;
}
#gameInfo #ammo {
  color: #fff;
  z-index: 1;
  margin-left: 10px;
}

.shots {
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #fff;
}

.enemySpaceShips {
  position: absolute;
  height: 30px;
  width: 50px;
  border-radius: 10px;
  background-color: #fff;
  z-index: 1;
}

.enemySpaceShipLeftovers {
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background-color: #f00;
  z-index: 1;
}

@keyframes tracking-out-contract {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
}
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}
html {
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  overflow: hidden;
}
html #backGroundStars {
  height: 100vh;
  width: 100vw;
}
html #backGroundStars #stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 7px 7px #fff;
  animation: animStar 50s linear infinite;
}
html #backGroundStars #stars::after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 7px 7px #fff;
}
html #backGroundStars #stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 250px 332px #FFF , 876px 1006px #FFF , 1619px 344px #FFF , 560px 115px #FFF , 642px 205px #FFF , 1931px 630px #FFF , 1505px 1365px #FFF , 1752px 5px #FFF , 1265px 566px #FFF , 159px 1946px #FFF , 1104px 784px #FFF , 1329px 1906px #FFF , 165px 1230px #FFF , 318px 1970px #FFF , 1166px 1795px #FFF , 1992px 1124px #FFF , 824px 1603px #FFF , 979px 1596px #FFF , 632px 563px #FFF , 1882px 1225px #FFF , 803px 753px #FFF , 1659px 21px #FFF , 928px 1206px #FFF , 42px 1679px #FFF , 306px 1086px #FFF , 242px 327px #FFF , 632px 495px #FFF , 585px 1730px #FFF , 949px 254px #FFF , 214px 1697px #FFF , 844px 223px #FFF , 1073px 861px #FFF , 878px 826px #FFF , 969px 1218px #FFF , 74px 844px #FFF , 1345px 1735px #FFF , 1379px 637px #FFF , 1114px 1034px #FFF , 1155px 1331px #FFF , 1694px 516px #FFF , 1064px 1716px #FFF , 678px 93px #FFF , 16px 199px #FFF , 639px 822px #FFF , 1648px 718px #FFF , 1203px 561px #FFF , 1945px 867px #FFF , 924px 1231px #FFF , 1129px 1861px #FFF , 1866px 1558px #FFF , 95px 662px #FFF , 1570px 438px #FFF , 1180px 698px #FFF , 1280px 39px #FFF , 1982px 868px #FFF , 281px 1181px #FFF , 1420px 952px #FFF , 1965px 2000px #FFF , 1030px 496px #FFF , 411px 1989px #FFF , 562px 674px #FFF , 60px 1593px #FFF , 487px 1425px #FFF , 1303px 1679px #FFF , 658px 783px #FFF , 1774px 337px #FFF , 204px 1429px #FFF , 1437px 1944px #FFF , 436px 350px #FFF , 27px 1835px #FFF , 564px 544px #FFF , 1278px 1613px #FFF , 1328px 889px #FFF , 795px 715px #FFF , 1719px 1454px #FFF , 317px 487px #FFF , 66px 1480px #FFF , 1388px 1748px #FFF , 528px 1195px #FFF , 395px 649px #FFF , 1063px 1404px #FFF , 1601px 1335px #FFF , 191px 56px #FFF , 25px 1476px #FFF , 119px 870px #FFF , 1877px 538px #FFF , 1346px 1392px #FFF , 727px 1161px #FFF , 217px 1610px #FFF , 571px 977px #FFF , 790px 501px #FFF , 392px 562px #FFF , 570px 1871px #FFF , 1840px 820px #FFF , 257px 819px #FFF , 1806px 1103px #FFF , 302px 451px #FFF , 554px 1268px #FFF , 1912px 116px #FFF , 309px 14px #FFF , 1613px 166px #FFF , 1863px 834px #FFF , 289px 147px #FFF , 903px 78px #FFF , 493px 1807px #FFF , 746px 1599px #FFF , 263px 973px #FFF , 1263px 1894px #FFF , 447px 966px #FFF , 23px 481px #FFF , 566px 1324px #FFF , 1921px 589px #FFF , 575px 1279px #FFF , 282px 91px #FFF , 1532px 1148px #FFF , 1984px 529px #FFF , 1201px 1215px #FFF , 59px 1942px #FFF , 1787px 691px #FFF , 1163px 1383px #FFF , 974px 115px #FFF , 86px 1891px #FFF , 1053px 504px #FFF , 1147px 1009px #FFF , 879px 12px #FFF , 1395px 588px #FFF , 1143px 18px #FFF , 328px 1047px #FFF , 1145px 1641px #FFF , 1855px 243px #FFF , 753px 1643px #FFF , 1316px 163px #FFF , 34px 800px #FFF , 1740px 1113px #FFF , 1620px 821px #FFF , 1316px 1586px #FFF , 1482px 1090px #FFF , 521px 1783px #FFF , 241px 110px #FFF , 1370px 121px #FFF , 682px 290px #FFF , 1336px 684px #FFF , 947px 1736px #FFF , 720px 1083px #FFF , 523px 392px #FFF , 657px 1125px #FFF , 818px 407px #FFF , 1838px 205px #FFF , 36px 1275px #FFF , 491px 1356px #FFF , 1247px 731px #FFF , 214px 559px #FFF , 1627px 880px #FFF , 659px 1414px #FFF , 684px 655px #FFF , 1299px 281px #FFF , 796px 1858px #FFF , 659px 607px #FFF , 582px 440px #FFF , 704px 1667px #FFF , 268px 1326px #FFF , 1706px 1009px #FFF , 1615px 1095px #FFF , 31px 31px #FFF , 1205px 355px #FFF , 1905px 879px #FFF , 546px 977px #FFF , 1497px 1674px #FFF , 189px 1187px #FFF , 809px 860px #FFF , 166px 1069px #FFF , 1074px 1220px #FFF , 1751px 1238px #FFF , 929px 877px #FFF , 1475px 916px #FFF , 745px 1091px #FFF , 1526px 642px #FFF , 1544px 1616px #FFF , 1241px 867px #FFF , 676px 93px #FFF , 983px 739px #FFF , 343px 186px #FFF , 504px 942px #FFF , 1633px 1379px #FFF , 1046px 1144px #FFF , 877px 262px #FFF , 753px 624px #FFF , 62px 264px #FFF , 877px 1090px #FFF , 811px 916px #FFF , 1268px 1373px #FFF , 464px 1241px #FFF , 35px 1117px #FFF , 806px 1482px #FFF , 819px 954px #FFF , 155px 1121px #FFF , 388px 1902px #FFF , 1573px 1276px #FFF , 446px 637px #FFF , 683px 1125px #FFF;
  animation: animStar 100s linear infinite;
}
html #backGroundStars #stars2::after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 250px 332px #FFF , 876px 1006px #FFF , 1619px 344px #FFF , 560px 115px #FFF , 642px 205px #FFF , 1931px 630px #FFF , 1505px 1365px #FFF , 1752px 5px #FFF , 1265px 566px #FFF , 159px 1946px #FFF , 1104px 784px #FFF , 1329px 1906px #FFF , 165px 1230px #FFF , 318px 1970px #FFF , 1166px 1795px #FFF , 1992px 1124px #FFF , 824px 1603px #FFF , 979px 1596px #FFF , 632px 563px #FFF , 1882px 1225px #FFF , 803px 753px #FFF , 1659px 21px #FFF , 928px 1206px #FFF , 42px 1679px #FFF , 306px 1086px #FFF , 242px 327px #FFF , 632px 495px #FFF , 585px 1730px #FFF , 949px 254px #FFF , 214px 1697px #FFF , 844px 223px #FFF , 1073px 861px #FFF , 878px 826px #FFF , 969px 1218px #FFF , 74px 844px #FFF , 1345px 1735px #FFF , 1379px 637px #FFF , 1114px 1034px #FFF , 1155px 1331px #FFF , 1694px 516px #FFF , 1064px 1716px #FFF , 678px 93px #FFF , 16px 199px #FFF , 639px 822px #FFF , 1648px 718px #FFF , 1203px 561px #FFF , 1945px 867px #FFF , 924px 1231px #FFF , 1129px 1861px #FFF , 1866px 1558px #FFF , 95px 662px #FFF , 1570px 438px #FFF , 1180px 698px #FFF , 1280px 39px #FFF , 1982px 868px #FFF , 281px 1181px #FFF , 1420px 952px #FFF , 1965px 2000px #FFF , 1030px 496px #FFF , 411px 1989px #FFF , 562px 674px #FFF , 60px 1593px #FFF , 487px 1425px #FFF , 1303px 1679px #FFF , 658px 783px #FFF , 1774px 337px #FFF , 204px 1429px #FFF , 1437px 1944px #FFF , 436px 350px #FFF , 27px 1835px #FFF , 564px 544px #FFF , 1278px 1613px #FFF , 1328px 889px #FFF , 795px 715px #FFF , 1719px 1454px #FFF , 317px 487px #FFF , 66px 1480px #FFF , 1388px 1748px #FFF , 528px 1195px #FFF , 395px 649px #FFF , 1063px 1404px #FFF , 1601px 1335px #FFF , 191px 56px #FFF , 25px 1476px #FFF , 119px 870px #FFF , 1877px 538px #FFF , 1346px 1392px #FFF , 727px 1161px #FFF , 217px 1610px #FFF , 571px 977px #FFF , 790px 501px #FFF , 392px 562px #FFF , 570px 1871px #FFF , 1840px 820px #FFF , 257px 819px #FFF , 1806px 1103px #FFF , 302px 451px #FFF , 554px 1268px #FFF , 1912px 116px #FFF , 309px 14px #FFF , 1613px 166px #FFF , 1863px 834px #FFF , 289px 147px #FFF , 903px 78px #FFF , 493px 1807px #FFF , 746px 1599px #FFF , 263px 973px #FFF , 1263px 1894px #FFF , 447px 966px #FFF , 23px 481px #FFF , 566px 1324px #FFF , 1921px 589px #FFF , 575px 1279px #FFF , 282px 91px #FFF , 1532px 1148px #FFF , 1984px 529px #FFF , 1201px 1215px #FFF , 59px 1942px #FFF , 1787px 691px #FFF , 1163px 1383px #FFF , 974px 115px #FFF , 86px 1891px #FFF , 1053px 504px #FFF , 1147px 1009px #FFF , 879px 12px #FFF , 1395px 588px #FFF , 1143px 18px #FFF , 328px 1047px #FFF , 1145px 1641px #FFF , 1855px 243px #FFF , 753px 1643px #FFF , 1316px 163px #FFF , 34px 800px #FFF , 1740px 1113px #FFF , 1620px 821px #FFF , 1316px 1586px #FFF , 1482px 1090px #FFF , 521px 1783px #FFF , 241px 110px #FFF , 1370px 121px #FFF , 682px 290px #FFF , 1336px 684px #FFF , 947px 1736px #FFF , 720px 1083px #FFF , 523px 392px #FFF , 657px 1125px #FFF , 818px 407px #FFF , 1838px 205px #FFF , 36px 1275px #FFF , 491px 1356px #FFF , 1247px 731px #FFF , 214px 559px #FFF , 1627px 880px #FFF , 659px 1414px #FFF , 684px 655px #FFF , 1299px 281px #FFF , 796px 1858px #FFF , 659px 607px #FFF , 582px 440px #FFF , 704px 1667px #FFF , 268px 1326px #FFF , 1706px 1009px #FFF , 1615px 1095px #FFF , 31px 31px #FFF , 1205px 355px #FFF , 1905px 879px #FFF , 546px 977px #FFF , 1497px 1674px #FFF , 189px 1187px #FFF , 809px 860px #FFF , 166px 1069px #FFF , 1074px 1220px #FFF , 1751px 1238px #FFF , 929px 877px #FFF , 1475px 916px #FFF , 745px 1091px #FFF , 1526px 642px #FFF , 1544px 1616px #FFF , 1241px 867px #FFF , 676px 93px #FFF , 983px 739px #FFF , 343px 186px #FFF , 504px 942px #FFF , 1633px 1379px #FFF , 1046px 1144px #FFF , 877px 262px #FFF , 753px 624px #FFF , 62px 264px #FFF , 877px 1090px #FFF , 811px 916px #FFF , 1268px 1373px #FFF , 464px 1241px #FFF , 35px 1117px #FFF , 806px 1482px #FFF , 819px 954px #FFF , 155px 1121px #FFF , 388px 1902px #FFF , 1573px 1276px #FFF , 446px 637px #FFF , 683px 1125px #FFF;
}
html #backGroundStars #stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1127px 1434px #FFF , 73px 1936px #FFF , 185px 980px #FFF , 375px 1124px #FFF , 546px 613px #FFF , 1564px 615px #FFF , 593px 1822px #FFF , 1364px 148px #FFF , 1259px 579px #FFF , 809px 732px #FFF , 1833px 1575px #FFF , 1530px 251px #FFF , 352px 1956px #FFF , 421px 437px #FFF , 294px 1741px #FFF , 370px 969px #FFF , 960px 1565px #FFF , 356px 26px #FFF , 1631px 450px #FFF , 52px 1661px #FFF , 53px 700px #FFF , 1209px 384px #FFF , 1967px 1360px #FFF , 558px 1215px #FFF , 1974px 811px #FFF , 690px 1642px #FFF , 625px 708px #FFF , 1433px 1545px #FFF , 1966px 391px #FFF , 145px 551px #FFF , 1150px 1183px #FFF , 632px 1801px #FFF , 1111px 1731px #FFF , 1383px 1171px #FFF , 46px 1911px #FFF , 1021px 1083px #FFF , 1908px 1530px #FFF , 1865px 338px #FFF , 1049px 973px #FFF , 579px 361px #FFF , 1758px 1646px #FFF , 871px 1307px #FFF , 2px 559px #FFF , 1959px 1337px #FFF , 1121px 1696px #FFF , 973px 1741px #FFF , 437px 869px #FFF , 785px 336px #FFF , 618px 1588px #FFF , 1464px 63px #FFF , 1102px 1715px #FFF , 1450px 1708px #FFF , 762px 474px #FFF , 1384px 1081px #FFF , 792px 1530px #FFF , 638px 201px #FFF , 1823px 214px #FFF , 498px 1815px #FFF , 1720px 171px #FFF , 1891px 748px #FFF , 1318px 1935px #FFF , 3px 1001px #FFF , 1616px 1141px #FFF , 1754px 1841px #FFF , 1982px 586px #FFF , 201px 1979px #FFF , 967px 1293px #FFF , 504px 1748px #FFF , 679px 934px #FFF , 59px 1954px #FFF , 328px 1562px #FFF , 41px 1144px #FFF , 1798px 144px #FFF , 1144px 979px #FFF , 700px 925px #FFF , 345px 677px #FFF , 1630px 1154px #FFF , 1135px 26px #FFF , 1509px 251px #FFF , 1412px 740px #FFF , 1656px 935px #FFF , 223px 661px #FFF , 1083px 579px #FFF , 1868px 770px #FFF , 1087px 946px #FFF , 405px 471px #FFF , 1364px 997px #FFF , 28px 1180px #FFF , 1260px 1987px #FFF , 12px 1501px #FFF , 461px 560px #FFF , 693px 1101px #FFF , 511px 1031px #FFF , 1102px 447px #FFF , 423px 151px #FFF , 288px 393px #FFF , 691px 123px #FFF , 606px 647px #FFF , 567px 1872px #FFF , 967px 738px #FFF;
  animation: animStar 150s linear infinite;
}
html #backGroundStars #stars3::after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 1127px 1434px #FFF , 73px 1936px #FFF , 185px 980px #FFF , 375px 1124px #FFF , 546px 613px #FFF , 1564px 615px #FFF , 593px 1822px #FFF , 1364px 148px #FFF , 1259px 579px #FFF , 809px 732px #FFF , 1833px 1575px #FFF , 1530px 251px #FFF , 352px 1956px #FFF , 421px 437px #FFF , 294px 1741px #FFF , 370px 969px #FFF , 960px 1565px #FFF , 356px 26px #FFF , 1631px 450px #FFF , 52px 1661px #FFF , 53px 700px #FFF , 1209px 384px #FFF , 1967px 1360px #FFF , 558px 1215px #FFF , 1974px 811px #FFF , 690px 1642px #FFF , 625px 708px #FFF , 1433px 1545px #FFF , 1966px 391px #FFF , 145px 551px #FFF , 1150px 1183px #FFF , 632px 1801px #FFF , 1111px 1731px #FFF , 1383px 1171px #FFF , 46px 1911px #FFF , 1021px 1083px #FFF , 1908px 1530px #FFF , 1865px 338px #FFF , 1049px 973px #FFF , 579px 361px #FFF , 1758px 1646px #FFF , 871px 1307px #FFF , 2px 559px #FFF , 1959px 1337px #FFF , 1121px 1696px #FFF , 973px 1741px #FFF , 437px 869px #FFF , 785px 336px #FFF , 618px 1588px #FFF , 1464px 63px #FFF , 1102px 1715px #FFF , 1450px 1708px #FFF , 762px 474px #FFF , 1384px 1081px #FFF , 792px 1530px #FFF , 638px 201px #FFF , 1823px 214px #FFF , 498px 1815px #FFF , 1720px 171px #FFF , 1891px 748px #FFF , 1318px 1935px #FFF , 3px 1001px #FFF , 1616px 1141px #FFF , 1754px 1841px #FFF , 1982px 586px #FFF , 201px 1979px #FFF , 967px 1293px #FFF , 504px 1748px #FFF , 679px 934px #FFF , 59px 1954px #FFF , 328px 1562px #FFF , 41px 1144px #FFF , 1798px 144px #FFF , 1144px 979px #FFF , 700px 925px #FFF , 345px 677px #FFF , 1630px 1154px #FFF , 1135px 26px #FFF , 1509px 251px #FFF , 1412px 740px #FFF , 1656px 935px #FFF , 223px 661px #FFF , 1083px 579px #FFF , 1868px 770px #FFF , 1087px 946px #FFF , 405px 471px #FFF , 1364px 997px #FFF , 28px 1180px #FFF , 1260px 1987px #FFF , 12px 1501px #FFF , 461px 560px #FFF , 693px 1101px #FFF , 511px 1031px #FFF , 1102px 447px #FFF , 423px 151px #FFF , 288px 393px #FFF , 691px 123px #FFF , 606px 647px #FFF , 567px 1872px #FFF , 967px 738px #FFF;
}

@keyframes animStar {
  from {
    transform: translateY(-2000px);
  }
  to {
    transform: translateY(0px);
  }
}

/*# sourceMappingURL=mainStylesFile.css.map */
